@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('../public/downloadbanner.png');
    height: 75%;
    width: 100%;
}

.custom-img2{
    background-image: url('../public/darkbg.png');
    height: 75%;
    width: 100%;
}

.blogbg{
    background-image: url('../public/blogbg1.png');
    height: 75%;
    width: 100%;
}
.nletterbg{
    background-image: url('../public/newsletterbg.png');
    height: 100%;
    width: 100%;
}